[[ignores]]
path = ".git"

[[src_mappings]]
pattern = "(.+)\\.src\\..+\\.(.+)"
replacement = "$1.$2"

[[driver_mappings]]
pattern = "(.+)\\.driver\\..+\\.(.+)"
replacement = "$1.$2"

[[mock_mappings]]
pattern = "(.+)\\.mock\\..+\\.(.+)"
replacement = "$1.$2"

[run_test]
command = "cargo"
args = ["test", "{driver_file}"]
