[[ignores]]
path = ".git"

[[src_patterns]]
pattern = "(.+)/(.+)\\.src\\..+\\.(.+)"
resolution = "$1/$2.$3"

[[driver_patterns]]
pattern = "(.+)/(.+)\\.driver\\..+\\.(.+)"
resolution = "$1/$2.$3"

[[mock_patterns]]
pattern = "(.+)/(.+)\\.mock\\..+\\.(.+)"
resolution = "$1/$2.$3"

[[images]]
name = "docker.io/library/rust:latest"

[command.test]
command = "cargo"
args = ["test", "--manifest-path", "Cargo.toml", "{driver_file}"]
image = "docker.io/library/rust:latest"

[command.run]
command = "cargo"
args = ["test", "--manifest-path", "Cargo.toml", "--tests"]
image = "docker.io/library/rust:latest"
