[[ignores]]
path = ".git"

[[src_patterns]]
pattern = "(.+)\\.src\\..+\\.(.+)"
replacement = "$1.$2"

[[driver_patterns]]
pattern = "(.+)\\.driver\\..+\\.(.+)"
replacement = "$1.$2"

[[mock_patterns]]
pattern = "(.+)\\.mock\\..+\\.(.+)"
replacement = "$1.$2"

[[images]]
name = "docker.io/library/rust:latest"

[run_test]
command = "cargo"
args = ["test", "--manifest-path", "{builds_dir}/Cargo.toml", "{driver_file}"]
image = "docker.io/library/rust:latest"
