[[ignores]]
file = ".gitignore"

[[ignores]]
path = ".git"

[[driver_patterns]]
pattern = "(.+)/driver/(.+)/(.+).rs"
resolution = "$1.$2"

[[mock_patterns]]
pattern = "(.+)/mock/(.+)/(.+).rs"
resolution = "$1.$2"

[[images]]
name = "docker.io/library/rust:latest"

[command.test]
command = "cargo"
args = ["test", "--manifest-path", "Cargo.toml", "{driver_file}"]
image = "docker.io/library/rust:latest"
replace_rule = [
  { pattern = "(.+)/driver/(.+)/(.+).rs", replace = "$2::driver" },
  { pattern = "([^:]+)/([^:]+)::driver", replace = "$1_$2::driver" },
  { pattern = "([^:]+)/([^:]+)::driver", replace = "$1_$2::driver" },
  { pattern = "([^:]+)/([^:]+)::driver", replace = "$1_$2::driver" }
]

[command.run]
command = "cargo"
args = ["run", "--manifest-path", "Cargo.toml"]
image = "docker.io/library/rust:latest"
